.modal {
    max-width: 400px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: stretch;
    padding: 10px 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
}

.form-inputs {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 3px;
}

.form input {
    padding: 8px 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

.form input:focus {
    outline: none;
}

.text {
    font-size: 1.4rem;
    line-height: 1;
}

.create-btn {
    font-size: 1.4rem;
    margin-bottom: 10px;
}