.container {
    position: relative;
    width: 100%;
    height: inherit;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}